body {
    background-color: wheat;
    justify-content: center;
    align-items: center;
}
.header-container {
    width: 50%;
    background-color: white;
    align-items: center;
    margin: auto;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
}

.header-container h1 {
    width: 95%;
    font-size: 2.5em;
    text-align: left;
    padding-left: 2%;
}

.header-container img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0% 0% 0%;
    width: 80%;
    border-radius: 1em;
}

.header-container p {
    text-align: left;
    padding-left: 2%;
    margin: 0;
}

.preptime-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    background-color: white;
}

.preptime-container h2 {
    display: flex;
    padding-left: 6.5%;
    padding-top: 10%;
    margin: 0;
}

.preptime-container li {
    margin: 0;
    padding-left: 3%;
    line-height: 2em;
    list-style-position: inside;
}

.ingredients-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto;
    width: 50%;
    background-color: white;
}

.ingredients-container h2 {
    padding-left: 5%;
}

.ingredients-container ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 5%;
    margin: 1em;
}

.ingredients-container li {
    line-height: 2em;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto;
    width: 50%;
    background-color: white;
}

.instructions-container h2 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2%;
}

.instructions-container ol {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 5%;
    margin: 1em;
}

.instructions-container li {
    padding: 1em;
}

.nutrition-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto;
    width: 50%;
    background-color: white;
    padding-bottom: 2%;
}

.nutrition-container h2 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2%;
}

.nutrition-container p {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
}

.table-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}

.table {
    width: 50%;
}