body {
    background-color: wheat;
}
.header-container {
    width: 50%;
    background-color: white;
    align-items: center;
    margin: auto;
}

.header-container h1 {
    width: 95%;
    font-size: 2.5em;
    text-align: left;
    padding-left: 2%;
}

.header-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0% 0% 0% 0%;
    width: 100%;
    border-radius: 2em;
}

.header-container p {
    text-align: left;
    padding-left: 2%;
}